{% extends 'admin_templates/base_template.html' %}
{% load static %}
{% block main_content %}
 <h1 class="page-title">{% block page_title %}Admin{% endblock page_title %}</h1>
 <ol class="breadcrumb mb-4">
   <li class="breadcrumb-item"><a href="/admin_home">Home</a></li>
   <li class="breadcrumb-item active">Update field</li>
 </ol>
 <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-body">
                                        <form action="/editfield_save" method="post">
                                        {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                <input type="text" id="field" class="form-control" name="field_name" value="{{fields.field_name}}" placeholder="field anme"/>
                                                <input type="hidden" class="required form-control" name="field_id" value="{{fields.id}}"/>
                                                <label for="field">Field Name *</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="select2 form-select shadow-none"  name="client" id="client">
                                                    <option value="">select client</option>
                                                    {%  for client in clients %}
                                                       <option value="{{ client.id }}" {% if client.id == fields.client_id.id %} selected {% endif %} >{{ client.username }}</option>
                                                    {%  endfor %}
                                                </select>

                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><button class="btn btn-primary btn-block">Submit</button></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                            {% if messages %}
                                                   <div>
                                                     {% for message in messages %}
                                                     {% if message.tags == 'error' %}
                                                     <div class="alert alert-danger">{{ message }}</div>
                                                     {% endif %}
                                                     {% if message.tags == 'success' %}
                                                     <div class="alert alert-success">{{ message }}</div>
                                                     {% endif %}
                                                     {% endfor %}
                                                   </div>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock main_content %}
