Hey {{clientname}} Representative,
Login with {{clientemail}} and {{passwordsent}} as password from link https://laser-datashare.herokuapp.com
Check Project update on the Laser Engineering Client side. Search with Job ID: {{pvt_number}}, if Job ID not at the top.
Access available reports and progress report with job key: {{jobkey}}.
file_title file_title2 file_title3 file_title4 file_title5 file_title6 file_title7 file_title8 file_title9 file_title10 reports has been posted
The Job report is available for free download for only 3 months from upload date.
Hope we delivered this job to your satisfaction, contact labinfo@laser-ng.com for more info.

