hey {{clientrep}},
Login with {{clientemail}} as email and {{passwordsent}} as password at link https://laser-datashare.herokuapp.com
Get Project reports on the Laser Engineering Client side view jobs menu. Search with Job ID: {{pvt_number}}, if Job ID not at the top.
Access available reports and progress report with job key: {{jobkey}}.
The Job report is available for free download for only 3 months from upload date.
Hope we delivered this job to your satisfaction, contact labinfo@laser-ng.com for more info.


