{% extends 'admin_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
<style>
table, td {
width:100%;
border: 1px solid black;
border-collapse: collapse;
}
th{
 width:20%;
 border: 1px solid black;
 border-collapse: collapse;
}
th, td {
padding: 10px;
text-align: left;
}
</style>

{% endblock custom_css %}
{% block main_content %}
 <h1 class="page-title">{% block page_title %}Admin{% endblock page_title %}</h1>
 <ol class="breadcrumb mb-4">
   <li class="breadcrumb-item"><a href="/admin_home">Home</a></li>
     <li class="breadcrumb-item"><a href="/viewfeedback">Jobs</a></li>
   <li class="breadcrumb-item active">Detail</li>
 </ol>
 <div class="row">
     <div class="col-xl-12">
       <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                               Job info
                            </div>
                            <div class="card-body" id="tab">
                                <table>
                                  <tr>
                                    <th>Job ID:</th>
                                    <td>{{jobs.pvt_number}}</td>
                                    </tr>
                                    <tr>
                                    <th>Location:</th>
                                    <td>{{ jobs.field_id}}/{{ jobs.anyotherid}}</td>
                                    </tr>
                                    <tr>
                                        <th>Job Progress:</th>
                                        <td title="last updated {{jobs.updated_at}}">{{jobs.jobstatus}} >> {{jobs.jobstatus1}} >> {{jobs.jobstatus2}} >> {{jobs.jobstatus3}} >> {{jobs.jobstatus4}}</td>
                                    </tr>
                                    <tr>
                                    <th>Client Representative:</th>
                                    <td>{{jobs.clientrep}}</td>
                                    </tr>
                                    <tr>
                                    <th>Client Representative Email:</th>
                                    <td>{{jobs.clientrep_email}}</td>
                                    </tr>
                                    <tr>
                                    <th>Laser Representative:</th>
                                    <td>{{jobs.laserrep_id}}</td>
                                    </tr>
                                    <tr>
                                    <th>Status:</th>
                                    <td>{{jobs.completed}}</td>
                                    </tr>
                                    <tr>
                                    <th>Created at:</th>
                                    <td>{{jobs.created_at}}</td>
                                    </tr>
                                    <tr>
                                    <th>Updated at:</th>
                                    <td>{{jobs.updated_at}}</td>
                                    </tr>
                                    </table>
                                <br>
                                    {% if jobs.pdf %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf.url }}', 'Laser Engineering Report for {{ jobs.file_title }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf2 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf2.url }}', 'Laser Engineering Report for {{ jobs.file_title2 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title2 }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf3 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf3.url }}', 'Laser Engineering Report for {{ jobs.file_title3 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title3 }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf4 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf4.url }}', 'Laser Engineering Report for {{ jobs.file_title4 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title4 }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf5 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf5.url }}', 'Laser Engineering Report for {{ jobs.file_title5 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title5 }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf6 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf6.url }}', 'Laser Engineering Report for {{ jobs.file_title6 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title6 }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf7 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf7.url }}', 'Laser Engineering Report for {{ jobs.file_title7 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title7 }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf8 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf8.url }}', 'Laser Engineering Report for {{ jobs.file_title8 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title8 }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf9 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf9.url }}', 'Laser Engineering Report for {{ jobs.file_title9 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title9 }}</a>
                                    {% else %}
                                    {% endif %}
                                    {% if jobs.pdf10 %}
                                        <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf10.url }}', 'Laser Engineering Report for {{ jobs.file_title10 }} of  {{ jobs.pvt_number }}')" download><i class="fa fa-download" aria-hidden="true"></i> {{ jobs.file_title10 }}</a>
                                    {% else %}
                                    {% endif %}
                            </div>
       </div>
     </div>
 </div>
{% endblock main_content %}
{% block custom_js %}
<script>
    function forceDownload(url, fileName){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.responseType = "blob";
    xhr.onload = function(){
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(this.response);
        var tag = document.createElement('a');
        tag.href = imageUrl;
        tag.download = fileName;
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
    }
    xhr.send();
}
</script>

{% endblock custom_js %}


