{% extends 'client_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
<style>
.alert {
  padding: 20px;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
{% endblock custom_css %}
{% block main_content %}
 <h1 class="page-title">{% block page_title %}Client{% endblock page_title %}</h1>
 <ol class="breadcrumb mb-4">
   <li class="breadcrumb-item"><a href="/client_home">Home</a></li>
   <li class="breadcrumb-item"><a href="/viewjob">Get Job Report</a></li>
   <li class="breadcrumb-item active">Download Report</li>
 </ol>
                           <div class="alert" id="box" style="background-color: orange;">
                                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                  <strong>Note!</strong> Your feedback is needed to better our service process to you and for Audit purposes.
                           </div>

                            <div class="col-lg-" style="margin-left">
                                <div class="card mb-4" style="margin:2px auto; width:60vw;">
                                    <div class="card-header">

                                        Staff on the Vinci RFP Cell
                                    </div>
                                    <div class="card-body">
                                        <img src="{%  static 'assets/img/work.jpg' %}" alt="rfp work" width="100%;" style="  height:300px;">
                                    </div>
                                    <div class="card-footer small text-muted">
                                        {% if jobs %}
                                            <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf.url }}', 'Laser Engineering Report for {{ jobs.pvt_number }}')" download>Download Report</a>
                                            <a class="btn btn-primary btn-sm" onclick="changedir()" id="downloadjoj" download>Submit Feedback ?</a>
                                            <input type="hidden" class="required form-control" name="slug" value="{{jobs.slug}}"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>



{% endblock main_content %}
{% block custom_js %}
  <script>
	setTimeout(() => {
  const box = document.getElementById('box');

  // 👇️ removes element from DOM
  box.style.display = 'none';

  // 👇️ hides element (still takes up space on page)
  // box.style.visibility = 'hidden';
  }, 8000); // 👈️ time in milliseconds
  </script>
  <script>
    function forceDownload(url, fileName){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.responseType = "blob";
    xhr.onload = function(){
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(this.response);
        var tag = document.createElement('a');
        tag.href = imageUrl;
        tag.download = fileName;
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
    }
    xhr.send();
  }
  </script>
  <script type="text/javascript">
      function changedir(downloadjoj)
      {
          window.location = '/jobfeedback/' + "{{ jobs.slug }}";
      }
  </script>
{% endblock custom_js %}
