{% extends 'client_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
<style>

<img src="{%  static 'assets/img/work.jpg' %}" alt="rfp work" width="100%">
</style>
{% endblock custom_css %}
{% block main_content %}
 <h1 class="page-title">{% block page_title %}Client{% endblock page_title %}</h1>
 <ol class="breadcrumb mb-4">
   <li class="breadcrumb-item"><a href="/client_home">Home</a></li>
   <li class="breadcrumb-item"><a href="/viewjob">Get Job Report</a></li>
   <li class="breadcrumb-item active">Download Report</li>
 </ol>


                            <div class="col-lg-" style="margin-left">
                                <div class="card mb-4" style="margin:2px auto; width:60vw;">
                                    <div class="card-header">

                                        Staff on the Vinci RFP
                                    </div>
                                    <div class="card-body">
                                        <img src="{%  static 'assets/img/work.jpg' %}" alt="rfp work" width="100%;" style="  height:300px;">
                                    </div>
                                    <div class="card-footer small text-muted">
                                        {% if jobs %}
                                            <a class="btn btn-primary btn-sm" onclick="forceDownload('{{ jobs.pdf.url }}', 'Laser Engineering Report for {{ jobs.pvt_number }}')" download>Download Report</a>
                                            <input type="hidden" class="required form-control" name="slug" value="{{jobs.slug}}"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

{% endblock main_content %}
{% block custom_js %}
  <script>
    function forceDownload(url, fileName){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.responseType = "blob";
    xhr.onload = function(){
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(this.response);
        var tag = document.createElement('a');
        tag.href = imageUrl;
        tag.download = fileName;
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
    }
    xhr.send();
    window.location = '/jobfeedback/' + "{{ jobs.slug }}";
  }
  </script>
{% endblock custom_js %}
