{% extends 'client_templates/base_template.html' %}
{% load static %}
{% block main_content %}
 <h1 class="page-title">{% block page_title %}Client{% endblock page_title %}</h1>
 <ol class="breadcrumb mb-4">
   <li class="breadcrumb-item"><a href="/client_home">Home</a></li>
   <li class="breadcrumb-item"><a href="/viewjob">Get Job Report</a></li>
   <li class="breadcrumb-item active">Pay For {{jobs.pvt_number}}</li>
 </ol>
 <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-body">
                                        <form action="/transcation" method="post">
                                        {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                <input type="text" id="email" value="{{jobs.clientrep_email}}"  class="required form-control" name="email" placeholder="Payer email"/>
                                                <label for="email">Payer email *</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="hidden" id="job_id" value="{{jobs.id}}"  class="required form-control" name="job_id"/>
                                                <input type="text" id="amount" value=100 class="required form-control" name="amount" readonly/>
                                                <label for="amount">Amount *</label>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <button type="submit" class="btn btn-primary btn-block">Proceed</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                            {% if messages %}
                                                   <div>
                                                     {% for message in messages %}
                                                     {% if message.tags == 'error' %}
                                                     <div class="alert alert-danger">{{ message }}</div>
                                                     {% endif %}
                                                     {% if message.tags == 'success' %}
                                                     <div class="alert alert-success">{{ message }}</div>
                                                     {% endif %}
                                                     {% endfor %}
                                                   </div>
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock main_content %}
