{% extends 'client_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
   <link
      href="{%  static 'assets/libs/jquery-steps/jquery.steps.css' %}"
      rel="stylesheet"
    />
    <link href="{%  static 'assets/libs/jquery-steps/steps.css' %}" rel="stylesheet" />
    <link href="{%  static 'assets/dist/css/style.min.css' %}" rel="stylesheet" />
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 15px; /* 5px rounded corners */
  height:100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 70px;
}
table, th, td {
border: 0px solid white;
border-collapse: collapse;
}
th, td {
padding: 10px;
text-align: left;
}
</style>
{% endblock custom_css %}
{% block page_title %}More Job Info{% endblock page_title %}
{% block main_content %}
     <div class="row">
            <div class="col-md-12">
              <div class="card" id="print">
                  <div></div>
                    <table style="width:100%" >
                    <tr>
                    <th>Job ID:</th>
                    <td>{{jobs.pvt_number}}</td>
                    </tr>
                    <tr>
                    <th>Location:</th>
                    <td>{{ jobs.field_id}}/{{ jobs.anyotherid}}</td>
                    </tr>
                    <tr>
                    <th>Status:</th>
                    <td>{{jobs.jobstatus}}</td>
                    </tr>
                    <tr>
                    <th>Client Representative:</th>
                    <td>{{jobs.clientrep}}</td>
                    </tr>
                    <tr>
                    <th>Client Representative Email:</th>
                    <td>{{jobs.clientrep_email}}</td>
                    </tr>
                    <tr>
                    <th>Laser Representative:</th>
                    <td>{{jobs.laserrep_id}}</td>
                    </tr>
                    <tr>
                    <th>Created at:</th>
                    <td>{{jobs.created_at}}</td>
                    </tr>
                    <tr>
                    <th>Updated at:</th>
                    <td>{{jobs.updated_at}}</td>
                    </tr>
                    </table>

                  </div>
                <button value="Click Me" onclick="codespeedy()">Print this page</button>
              </div>
            </div>
     </div>
{% endblock main_content %}
{% block custom_js %}
<script type="text/javascript">
    function codespeedy(){
      var print_div = document.getElementById("print");
    var print_area = window.open();
    print_area.document.write(print_div.innerHTML);
    print_area.document.close();
    print_area.focus();
    print_area.print();
    print_area.close();
    // This is the code print a particular div element
    }
</script>
{% endblock custom_js %}